html {
  font-family: "Inter", "system-ui";
}

:root {
  --bs-font-sans-serif: "Inter", "system-ui";
  --bs-body-font-weight: 300;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", "system-ui";
  }
  :root {
    --bs-font-sans-serif: "Inter var", "system-ui";
  }
}


h1,
h2,
h3,
h4,
h5,
h6,
label,
legend,
dt {
  font-weight: 600;
}

legend {
  font-size: 100%;
}
